<?xml version="1.0" encoding="utf-8"?>

<!-- DND Call Blocker A simple Android application that automatically block 
	unwanted incoming calls. Copyright (c) 2010 Zoltan Meleg, android+dndcb@zoliweb.hu 
	This file is part of DND Call Blocker. DND Call Blocker is free software: 
	you can redistribute it and/or modify it under the terms of the GNU General 
	Public License as published by the Free Software Foundation, either version 
	3 of the License, or (at your option) any later version. DND Call Blocker 
	is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
	without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR 
	PURPOSE. See the GNU General Public License for more details. You should 
	have received a copy of the GNU General Public License along with DND Call 
	Blocker. If not, see <http://www.gnu.org/licenses/>. -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="hu.zoliweb.android.dndcallblocker" android:versionCode="17"
	android:versionName="1.2.2">

	<application android:icon="@drawable/icon" android:label="@string/app_name">

		<activity android:name=".DNDCallBlockerPreferenceActivity"
			android:label="@string/app_name" android:launchMode="singleInstance">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".DNDCallBlockerBlackListActivity"
			android:launchMode="singleTop"></activity>

		<receiver android:name="DNDCallBlockerReceiver"
			android:enabled="true">
			<intent-filter android:priority="100">
				<action android:name="android.intent.action.PHONE_STATE"></action>
			</intent-filter>
		</receiver>

		<receiver android:name=".DNDCallBlockerBootReceiver"
			android:enabled="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

		<service android:name="DNDCallBlockerIntentService"></service>

		<!-- The application's publisher ID assigned by AdMob -->
		<meta-data android:value="a14c8ccd6f691b1" android:name="ADMOB_PUBLISHER_ID" />
		<!-- AdMobActivity definition -->
		<activity android:name="com.admob.android.ads.AdMobActivity"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:configChanges="orientation|keyboard|keyboardHidden" />
		<!-- Track Market installs -->
		<receiver android:name="com.admob.android.ads.analytics.InstallReceiver"
			android:exported="true">
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER" />
			</intent-filter>
		</receiver>
		<meta-data android:value="true" android:name="ADMOB_ALLOW_LOCATION_FOR_ADS" />
	</application>

	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<!-- AdMob SDK permissions -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

	<uses-sdk android:minSdkVersion="7"></uses-sdk>
</manifest> 